* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald;
}

:root {
    --active-navBar-color : #f36100;
    --white-color : #fff;
}

header {
    background-image: url(../imgs/breadcrumb-bg.jpg);
    /* background-image: url(imgs/hero-2.jpg); */

    /* height: 1040px; */
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

    height: 500px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

header .nav-bar {
    display: flex;
    max-width: 1440px;
    width: 95%;
    margin: 0 auto;
    padding-top: 55px;
    justify-content: space-between;
    align-items: center;
}

/* .logo {
    width: 100%;
    height: 100%;
} */

.nav-bar .nav-bar-elements .nav-bar-main-ul {
    display: flex;
    width: 650px;
    justify-content: space-between;
    list-style-type: none;
}

.nav-bar .nav-bar-elements .nav-bar-main-ul li a {
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--white-color);
    position: relative;
    transition: all .4s;
}

.nav-bar-elements .nav-bar-main-ul li a:hover {
    color: var(--active-navBar-color) !important;
}

.nav-bar-elements .nav-bar-main-ul li a::after {
    color: #f36100;
    position: absolute;
    left: 0;
    top: 13px;
    height: 2px;
    width: 100%;
    background: #f36100;
    content: "";
    opacity: 0;
    transition: all 0.3s;
    transform: rotate(-20deg);
}

.nav-bar-elements .nav-bar-main-ul li.active a::after{
    opacity: 1;
    color: #f36100;
}

.nav-bar-elements .nav-bar-main-ul li a:hover::after {
    opacity: 1;
}

.nav-bar-elements .nav-bar-main-ul li.active a {
    position: relative;
    color: #f36100 !important;
}

.nav-bar .nav-bar-icons {
    max-width: 140px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-bar .nav-bar-icons span a {
    color: var(--white-color);
    font-size: 14px;
}



.pages-li-item {
    position: relative;
}

.pages-li-ul-dropdown {
    background: rgb(37, 37, 37);
    position: absolute;
    left: -40px;
    top: 40px;
    width: 180px;
    /* z-index: 99; */
    /* text-align: left; */
    opacity: 0;
    visibility: hidden;
    padding: 13px 25px 20px;
    transition: 0.3s;
    list-style-type: none;
    line-height: 2;
    
}

.pages-li-ul-dropdown li a {
    font-size: 15px !important;
    text-transform: capitalize !important;
    font-weight: 400 !important;
}

.pages-li-item:hover .pages-li-ul-dropdown{
    visibility: visible;
    opacity: 1;
}

/* Navbar ends */


/* <!-- about section one start --> */

.about-us-page-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* text-align: center; */
    justify-content: center;
    height: 370px;
}

.about-us-page-main-head {
    font-size: 60px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about-us-page-one-links {
    display: flex;
}

.about-us-page-one-links span {
    color: #ffffff;
    font-size: 16px;
    margin-right: 15px;
}

.about-us-page-home {
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    margin-right: 15px;
    text-decoration: none;
    font-family: 'Muli';
}

.about-us-page-about {
    font-size: 20px;
    color: var(--active-navBar-color);
    font-weight: 700;
    text-decoration: none;
    font-family: 'Muli';
}

/* <!-- about section one end --> */


/* <!-- what we do section start --> */

.services-what-we-do-section {
    background: #151515;
}

.services-what-we-do-section-width {
    max-width: 1440px;
    width: 88%;
    margin: 0% auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.services-we-do-all-boxes {
    margin-top: 40px;
    width: 100%;
}

.services-we-do-all-up-boxes {
    display: flex;
}

.services-what-we-do-img-box {
    width: 25%;
}

.services-what-we-do-img-box img {
        width: 100%;
        height: 100%;
}


.services-what-we-do-text-box {
    width: 25%;
    background: #252525;
    padding: 74px 30px;
    height: 293px;
    position: relative;
    z-index: 1;
    transition: all 0.3s;
}

.services-what-we-do-text-box:hover {
    background-color: #363636;
}

.services-what-we-do-text-box:hover::after {
    background-color: #363636;
}

.services-what-we-do-text-box:hover .services-what-we-do-Explore {
    color: var(--active-navBar-color) !important;
}

.services-what-we-do-text-box h3 {
    font-size: 22px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 10px;
}

.services-what-we-do-text-box p {
    margin-bottom: 11px;
    font-size: 14px;
    font-family: "Muli", sans-serif;
    color: #a9a9a9;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 15px 0;
}

.services-what-we-do-text-box a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s;
}

.services-what-we-do-text-box {
    position: relative;
    height: 100%;
}

.services-what-we-do-text-box::after {
    position: absolute;
    left: -15px;
    top: 50%;
    height: 20px;
    width: 20px;
    background: #252525;
    content: "";
    transform: rotate(45deg) translateY(-10px);
    z-index: -1;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.do-down-text-box::after {
    right: 0 !important;
    left: auto;
}

/* <!-- what we do section end --> */


/* <!-- section Four start --> */

.banner-section {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../imgs/banner-bg.jpg);
    height: 550px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-section h2{
    font-size: 48px;
    color: var(--white-color);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.banner-section p {
        font-size: 20px;
        color: #c4c4c4;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 45px;
}

.banner-section a i {
    color: var(--active-navBar-color);
    background: var(--white-color);
    font-size: 70px;
    border-radius: 50%;
}



/* <!-- section Four end --> */

/* <!-- section Five start --> */

.choose-us-heading {
    text-align: center;
}

.choose-us-heading p {
    font-size: 16px;
    color: var(--active-navBar-color);
    text-transform: uppercase;
    font-weight: 700;
}

.choose-us-subheading {
    color: var(--white-color);
    font-size: 32px;
    text-transform: uppercase;
}


.our-plan-section {
    background: #151515;
    padding-top: 100px;
    padding-bottom: 100px;

}

.our-plan-all-content {
    max-width: 1440px;
    width: 88%;
    margin: 0 auto;
}

.our-plan-all-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.our-plan-single-card {
    max-width: 369px;
    width: 100%;
    position: relative;
    text-align: center;
    padding: 40px 30px 52px;
    border: 1px solid #464646;
    transform: skewY(-4deg);
    transition: all 0.5s;
    margin-bottom: 30px;
    font-family: 'Oswald';
    letter-spacing: 1.2px;
}

.our-plan-single-card:hover {
    background: var(--white-color);
}

.our-plan-single-card:hover .o-c-col-black {
    color: #111111 !important;
}

.our-plan-single-card:hover .o-c-col-grey {
    color: #212529 !important;
    font-weight: 400 !important;
}

.our-plan-single-card:hover .our-plan-enroll-btn {
    background: var(--active-navBar-color);
}

.our-plan-all-cards .our-plan-single-card h3 {
    font-size: 28px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 16px;
    transform: skewY(4deg);
}

.our-plan-all-cards .our-plan-single-card .our-plan-text {
    margin-bottom: 30px;
    transform: skewY(4deg);
}

.our-plan-all-cards .our-plan-single-card .our-plan-text h2 {
    font-size: 60px;
    color: var(--active-navBar-color);
    font-weight: 600;
}

.our-plan-all-cards .our-plan-single-card .our-plan-text p{
    color: #c4c4c4;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.our-plan-all-cards .our-plan-single-card .our-plan-items {
    margin-bottom: 40px;
    transform: skewY(4deg);
    position: relative;
}

.our-plan-all-cards .our-plan-single-card .our-plan-items p {
    font-size: 16px;
    color: #c4c4c4;
    line-height: 32px;
    font-weight: 300;
}

.our-plan-enroll-btn {
    border: none;
    display: block;
    background: #333333;
    transform: skewY(4deg);
    display: inline-block;
    font-size: 15px;
    padding: 17px 108px 16px;
    color: var(--white-color);
    line-height: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.4s;
}

.our-plan-enroll-btn:hover {
    background: var(--active-navBar-color);
}

/* .o-c-dn-icon {
    position: relative;
    display: flex;
    float: left;
} */

.o-c-dn-icon-inner {
    display: flex;
    position: absolute;
    font-size: 3.5rem;
    color: var(--active-navBar-color);
    visibility: hidden;
}

.our-plan-single-card:hover .o-c-dn-icon-inner {
    visibility: visible;
}

/* <!-- section Five end --> */




/* footer start */


footer .footer-top {
    background: #0a0a0a;
    padding: 30px 0 15px;
}

footer .footer-contacts {
    max-width: 1440px;
    width: 87%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;

}
.footer-contact-box {
    width: 275px;
    display: flex;
        justify-content: center;
        align-items: center;
}

.footer-contact-icon {
    width: 73px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--active-navBar-color);
    border-radius: 50%;
    color: var(--white-color);
}

.footer-contact-icon i {
    font-size: 30px;
}

.footer-contact-box span {
    color: var(--white-color);
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    margin-left: 15px;
    font-family: 'Muli';
}

.footer-bottom {
    background: #000000;
    padding-top: 50px;
}

.footer-details {
    max-width: 1440px;
    width: 87%;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #1a1a1a;
    padding-bottom: 50px;
}

.footer-details-box p {
    color: #c4c4c4;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Muli';
    margin-top: 20px;
    width: 320px;
    line-height: 26px;
}

.footer-details-box-links {
    display: flex;
}

.footer-details-box-links i {
    color: #c4c4c4;
    padding-right: 14px;
    margin-top: 20px;
    font-size: 14px;
}

.footer-useful-links-heading {
    font-size: 24px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 18px;
    font-family: "Oswald";
}

.footer-useful-links ul {
    list-style-type: none;
}

.footer-useful-links ul li a {
    text-decoration: none;
    color: #c4c4c4;
    line-height: 30px;
    font-size: 14px;
    font-family: 'Muli';
}

.footer-tips-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #1a1a1a;
}

.footer-tips-inner-heading {
    color: #c4c4c4;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 8px;
}


.footer-tips-inner-comment {
    font-size: 12px;
    color: #4d4d4d;
    display: inline-block;
    margin-right: 25px;
}

.footer-tips-inner-comment span {
    margin-right: 12px;
}

.copyright {
    max-width: 1440px;
    width: 87%;
    margin: 0% auto;
    overflow-x: hidden;
}

.copyright p {
    font-size: 12px;
    color: var(--white-color);
    padding-top: 30px;
    padding-bottom: 30px;
    transform: translateX(50%);
}

/* footer end */